.container{
    display: grid;
    min-height: 90vh;
    padding: 5%;
    grid-template-areas:  "title title title"
                          "image1 desc1 desc1"
                          "desc2 desc2 image2"
                          "image3 desc3 desc3";
    justify-content: center;
    align-items: center;
}
.title{
    grid-area: title;
}
.container img{
    height: 200px; 
}
.desc{
    max-width: 750px;
    padding: 20px;
}
.img1{
    grid-area: image1;
}
.img2{
    grid-area: image2;
}
.img3{
    grid-area: image3;
}
.desc1{
    grid-area: desc1;
}
.desc2{
    grid-area: desc2;
}
.desc3{
    grid-area: desc3;
}
